@import "variables";

.smile {
  color: $white;
  background-color: $dark;
  &__info {
    padding: 103px 200px 20px 180px;
  }
  h5 {
    margin-bottom: 230px;
  }
  p {
    font-size: 64px;
    line-height: 1.47;
    margin-bottom: 75px;
  }
  h2 {
    line-height: 1.47;
    margin-bottom: 70px;
  }
  a {
    margin-left: -15px;
    &:active {
      color: $coral;
    }
  }
}