@import "variables";

.thrive{
  background-color: $blue;
  &__left {
    padding: 151px 181px 0 178px;
    & h2 {
      color: $white;
      line-height: 0.75;
      margin-bottom: 80px;
    }
    & p {
      color: $white;
      line-height: 1.46;
      padding-bottom: 20px;
    }
  }
}