//Colors
$blue: #62D0DF;
$orange: #F9B640;
$white: #ffffff;
$dark: #22356F;
$pink: #FFE2DE;
$greenLight: #C4E769;
$purple: #8F00FF;
$lightBlue: #0052C1;
$coral: #DEE1FF;
$lightGray: #909AB7;
$lightBrown: #F4F9E2;


//Fonts-size
$fz66: 66px;
$fz48: 48px;
$fz36: 36px;
$fz32: 32px;
$fz28: 28px;
$fz24: 24px;
$fz16: 16px;
$fz14: 14px;
$fz12: 12px;



