@import "variables";
.button {
  padding: 10px 15px;
  background: none;
  transition: background 0.3s;
  &:hover {
    background: $lightGray;
  }
  &.button__white {
    color: $white;
  }
  &.button__orange {
    color: $orange;
  }
  &.button__blue {
    color: $blue;
  }
  &.bg__white {
    background: $white;
  }
  &.bg__blue {
    background: $blue;
    &:hover {
      background: lighten($blue,20%);
    }
  }
  &.bg__orange {
    background: $orange;
    &:hover {
      background: lighten($orange,20%);
    }
  }
  &.radius {
    border-radius: 50px;
  }

}