@import "variables";
.offers {
  flex-wrap: wrap;
  color: $white;
  &__block1 {
    background: $dark;
    width: 33.333%;
    height: 480px;
  }
  &__box {
    max-width: 340px;
  }
  &__block2 {
    background: $lightBlue;
    width: 33.333%;
    height: 480px;
  }
  &__block3 {
    background: url("../img/offers/strawbery.png") 0 0 no-repeat;
    width: 33.333%;
    height: 480px;
  }
  &__block4 {
    background: $blue;
    width: 33.333%;
    height: 480px;
  }
  &__block5 {
    background: $corale;
    width: 33.333%;
    height: 480px;
  }
  &__block6 {
    background: $purpule;
    width: 33.333%;
    height: 480px;
  }
}