@import "variables";

.top {
  &__main-picture {
    right: 0;
    z-index: 2;
  }

  &__fon-picture {
    z-index: 1;
    right: 0;
  }

  &__left {
    max-width: 1117px;
    width: 100%;
    padding: 0 247px 0 179px;
    background-color: #F4F9E2;
  }

  &__header {
    padding-top: 30px;
    justify-content: space-between;
    z-index: 4;

    &__mark {
      font-size: $fz24;
      color: $blue;
      line-height: 1.125;
    }

    &__links {
      justify-content: flex-end;
      align-items: flex-end;
      font-size: $fz14;
      line-height: 1.14;
    }

    &__link {
      padding-right: 30px;

      a {
        color: $dark;

        &:hover {
          color: $purpule;
        }
      }
    }
  }
  &__introduction {
    max-width: 485px;
    padding: 187px 0 85px;
    z-index: 4;

    &__mark {
      font-size: $fz24;
      color: $blue;
      line-height: 1.125;
      padding-bottom: 45px;
    }

    &__text {
      padding: 75px 0 60px;
      line-height: 1.75;
    }
  }
  &__buttons {}
  &__button {
    &:first-child a {
      &:active {
        background: none;
        color: $orange;
      }
    }
    &:last-child a {
      margin-left: 50px;
      &:active {
        background-color: $orange;
        color: $white;
      }
    }
  }
  &__right {
    max-width: 323px;
    &__button a {
      margin: 30px 130px 0 0;
      z-index: 3;
      right: 0;
      top: 0;
      &:active {
        background-color: $orange;
      }
    }
  }
}